html { 
    height: -webkit-fill-available;    /* per a dispositius mòbils */
}
body {
    display: flex;    /* tipus de display que ofereix més prestacions que block */
    flex-direction: column;    /* els elements es disposen de dalt cap abaix */
    justify-content: space-between;    /* els elements, separats per espais, ocupen tot l'espai disponibles */
    min-height: 100vh;    /* alçària de la pantalla en navegadors d'escriptori */
    min-height: 100svh;    /* per a navegadors on la declaració anterior no és precisa */
    min-height: -webkit-fill-available;    
    margin: 0px;    /* elimina tots els marges del document */
    font-family: sans-serif;    /* un tipus de lletra adient per a llocs web */
    background-color: #FCDEE0;    /* color de fons en format #RRGGBB */
}
#superior {
    display: flex;
    height: 8vmax;    /* alçària d'un 8% respecte l'alçària de la pantalla */
    justify-content: center;    /* centra els elements en la direcció de disposició */
    align-items: center;    /* centra els elements en la direcció perpendicular a la de disposició */
    font-size: 4vmax;    /* mida d'un 4% respecte l'alçària de la pantalla */
    color: white;    /* color del text */
    background-color: #950E17;    /* color de fons */
}
.seccio {
    flex: 1;    /* les seccions ocupen tot l'espai disponible */
    display: none;    /* les seccions s'inicien ocultes, excepte la primera */
}
#seccio_1 {
    display: flex;    /* única secció que es mostra a l'inici */
    justify-content: center;    /* contingut centrat en la direcció de disposició */
    align-items: center;    /* contingut centrat en la direcció transversal */
    font-size: 4vmax;
}
#menu {
    height: 8vmax;    /* alçària d'un 8% respecte l'alçària de la pantalla */
}
#menu {
    display: flex;    /* el menú és un contenidor de tipus flex */
    height: 8vmax;
}
#menu i{
    flex: 1;    /* cada botó pretén ocupar tot l'espai disponible */
    display: flex;    /* contenidor flex on centrar-hi la icona */
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #950E17;
    font-size: 5vmax;
    cursor: pointer;    /* en ordinadors, indica que s'hi pot fer clic */
}
@media (orientation: landscape) {
    body {
        flex-direction: row;    /* sobreescriu la declaració flex-direction: column; */
        flex-flow: row-reverse;    /* disposició de dreta a esquerra, per mostrar el menú a l'esquerra */
    }
    #superior {
        display: none;    /* franja superior oculta per optimitzar l'espai */
    }
    #menu {
        flex-direction: column;
        width: 8vmax;
        height: auto;    /* sobreescriu la declaració height: 8vmax; */
    }
}
